@import '../../styles/utils';

.notification {
  position: absolute;
  padding: 50px 25px;
  max-width: 150px;
  font-size: 10px;
  top: 30%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: $color-accent;
  opacity: 80%;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
