@import '../../styles/utils';

.phone-card {
  width: 100%;
  max-width: 272px;
  height: 100%;
  border-radius: 8px;
  border: 0.5px #e2e6e9 solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  padding: 32px;
  background: $color-white;

  @include onTablet {
    width: 100%;
  }

  &__image-container {
    width: 208px;
    height: 196px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    height: 100%;
  }

  &__divider {
    border-bottom: 1px solid #e2e6e9;
  }

  &__details {
    display: flex;
    gap: 8px;

    justify-content: space-between;
    font-size: 12px;
  }

  &__attribute {
    color: $color-secondary;
  }

  &__title {
    margin-top: 16px;
    width: 200px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price-block {
    display: flex;

    justify-content: flex-start;
    align-items: center;
  }

  &__price {
    margin-right: 8px;
  }

  &__price-discount {
    color: $color-secondary;
    text-decoration: line-through;
  }

  &__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .product-buttons {
    display: flex;
  }

  .add-to-cart {
    height: 38px;
    border: 0.5px solid $color-accent;
    min-width: 160px;
    color: $color-white;
    text-align: center;
    background-color: $color-accent;
    flex-grow: 1;
    border-radius: 48px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:active {
      color: $color-accent;
      background-color: $color-white;
      border: 0.5px solid $color-elements;
    }
  }

  .add-to-favorites {
    flex-grow: 1;
    height: 40px;
    border-radius: 48px;
    border: 0.5px $color-icons solid;
    background-image: url(../../assets/icons/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px;
    cursor: pointer;

    &:hover {
      border: 0.5px $color-primary solid;
    }
  }
}
