@import 'src/styles';

.category-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  margin-top: 36px;
  margin-bottom: 24px;

  @include onTablet {
    margin-top: 44px;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.32px;
  }

  @include onDesktop {
    margin-top: 60px;
  }
}

.container {
  display: grid;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  height: max-content;
  grid-template-columns: 1fr;
  cursor: pointer;

  @include onTablet {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

.category-card {
  transition: transform 300ms;

  &:hover {
    transform: scale(1.05);
  }
  &__background {
    display: flex;
    max-height: 288px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    position: relative;
    padding-top: 100%;
  }

  &__img {
    height: 90%;
    width: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 8px;
  }

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 24px;
  }

  &__subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: $color-secondary;
    margin-top: 4px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 272px;
}
