$color-primary: #0f0f11;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-white: #ffffff;
$color-grey-background: #fafbfc;
$color-red: #eb5757;
$color-green: #27ae60;
$color-accent: #4219d0;
$color-secondary-accent: #f4ba47;
$color-secondary-accent: #f4ba47;

$tablet-min-width: 640px;
$expanded-tablet-min-with: 768px;
$desktop-min-width: 1200px;
