$color-primary: #0F0F11;
$color-secondary: #89939A;
$color-icons: #B4BDC3;
$color-elements: #E2E6E9;
$color-white: #FFFFFF;
$color-grey-background: #FAFBFC;
$color-red: #EB5757;
$color-green: #27AE60;
$color-accent: #4219D0;
$color-secondary-accent: #F4BA47;

$tablet-min-width: 640px;
$desktop-min-width: 1200px;