@import '../../styles/utils';

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-elements;
  background-color: $color-white;

  &__left {
    display: flex;
  }
}

.left__logo {
  display: flex;
  align-items: center;
  padding: 0 16px;

  @include onTablet {
    margin-right: 16px;
  }

  @include onDesktop {
    margin-right: 24px;
    padding: 0 24px;
  }
}

.logo {
  width: 64px;
  height: 22px;

  @include onDesktop {
    width: 80px;
    height: 28px;
  }
}

.nav {
  display: none;

  &__list {
    height: 100%;
    line-height: 48px;
  }

  @include onTablet {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      list-style: none;
    }

    &__item {
      position: relative;
      display: flex;
      align-items: stretch;
    }

    &__item:not(:last-child) {
      margin-right: 32px;
    }

    &__link {
      color: $color-secondary;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: $color-primary;
      }
    }
  }

  @include onDesktop {
    &__list {
      line-height: 64px;
    }

    &__item:not(:last-child) {
      margin-right: 64px;
    }
  }
}

.is-active {
  @include onTablet {
    color: $color-primary;
  }
}

.is-active:after {
  @include onTablet {
    content: '';
    height: 3px;
    position: absolute;
    background-color: $color-primary;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.icons {
  display: flex;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 0px 0px 0px $color-elements;

  &__favourites-icon,
  &__shopping_bag-icon,
  &__menu-icon {
    width: 16px;
    height: 16px;
  }

  &__favourites-icon {
    background-image: url('../../assets/icons/favourites.svg');
  }

  &__shopping_bag-icon {
    background-image: url('../../assets/icons/shopping-bag.svg');
  }

  &__menu-icon {
    background-image: url('../../assets/icons/menu.svg');
  }
}

.menu-icon {
  width: 48px;
  height: 48px;

  @include onTablet {
    display: none;
  }
}

.favourites-icon,
.shopping_bag-icon {
  display: none;

  @include onTablet {
    display: flex;
    position: relative;
    width: 48px;
    height: 48px;
  }

  @include onDesktop {
    position: relative;
    width: 64px;
    height: 64px;
  }
}

.mini-count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  font-size: 10px;
  background-color: $color-accent;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  @include onTablet {
    top: 8px;
    right: 8px;
  }

  @include onDesktop {
    top: 12px;
    right: 16px;
  }
}
