@import '../../styles/utils';

.header {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
  box-shadow: 0 1px 0 0 $color-elements;

  &__left {
    display: flex;
  }
}

.left__logo {
  display: flex;
  align-items: center;
  padding: 0 16px;

  @include onTablet {
    margin-right: 16px;
  }

  @include onDesktop {
    margin-right: 24px;
    padding: 0 24px;
  }
}

.logo {
  width: 64px;
  height: 22px;

  @include onDesktop {
    width: 80px;
    height: 28px;
  }
}

.nav {
  display: none;

  &__list {
    height: 100%;
    line-height: 48px;
  }

  @include onTablet {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      list-style: none;
    }

    &__item {
      position: relative;
      display: flex;
      align-items: stretch;
    }

    &__item:not(:last-child) {
      margin-right: 32px;
    }

    &__link {
      color: $color-secondary;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: $color-primary;
      }
    }
  }

  @include onDesktop {
    &__list {
      line-height: 64px;
    }

    &__item:not(:last-child) {
      margin-right: 64px;
    }
  }
}

.is-active {
  @include onTablet {
    color: $color-primary;
  }
}

.is-active:after {
  @include onTablet {
    content: '';
    position: absolute;
    height: 3px;
    background-color: $color-primary;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.icons {
  display: flex;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 0px 0px 0px $color-elements;

  &__languages-icon,
  &__favourites-icon,
  &__shopping_bag-icon,
  &__account-icon,
  &__menu-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.menu-icon {
  width: 48px;
  height: 48px;

  @include onTablet {
    display: none;
  }
}

.switcher-icon,
.languages-icon,
.favourites-icon,
.shopping_bag-icon,
.account-icon {
  display: none;
  transition: background-color 0.5s;

  @include onTablet {
    display: flex;
    position: relative;
    width: 48px;
    height: 48px;
  }

  @include onDesktop {
    position: relative;
    width: 64px;
    height: 64px;
  }
}

.languages-icon {
  position: relative;

  &__button {
    height: 16px;
  }
}

.languages__switcher {
  position: absolute !important;
  top: 105% !important;
  right: 0 !important;

  & ul {
    background: $color-selector;
  }

  & button {
    background: $color-selector;
  }
}

.account-icon__image,
.languages-icon__image {
  width: 16px;
  height: 16px;
}

.languages-icon:hover,
.favourites-icon:hover,
.shopping_bag-icon:hover,
.account-icon:hover {
  background-color: $color-grey-background;
}

.mini-count {
  position: absolute;
  top: 24%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  font-size: 10px;
  background-color: $color-accent;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  @include onTablet {
    top: 24%;
    left: 50%;
  }

  @include onDesktop {
    top: 24%;
    left: 50%;
  }
}

.aside {
  background-color: $color-grey-background;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  &__top {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 0 0 $color-elements;
    background: $color-white;
  }

  &__icons {
    display: flex;
  }

  &__languages-switcher {
    position: absolute !important;
    top: 105% !important;
    left: 87% !important;
  }

  &__burger-menu {
    min-height: calc(100vh - 48px - 88px);
    margin-top: 24px;
    padding: 0 16px;
  }

  &__logo {
    width: 96px;
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
  }

  &__switcher-icon,
  &__languages-icon,
  &__account-icon,
  &__close-icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 0px 0px 0px $color-elements;
  }

  &__bottom {
    display: flex;
    box-shadow: 0px -1px 0px 0px $color-elements;
    background: $color-white;
  }

  &__favourites-icon,
  &__shopping_bag-icon {
    position: relative;
    width: 50%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__shopping_bag-icon {
    box-shadow: -1px 0px 0px 0px $color-elements;
  }
}

.burger-menu {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }

  &__item {
    position: relative;
    padding: 8px 0;
  }
}

.logo__image {
  width: 64px;
  height: 22px;
}

.close-icon__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__link {
  color: $color-secondary;
  text-transform: uppercase;
}

.is-active-menu {
  color: $color-primary;
}

.is-active-menu:after {
  content: '';
  height: 2px;
  position: absolute;
  background-color: $color-primary;
  bottom: 0;
  left: 0;
  right: 0;
}

.favourites-icon__link,
.shopping_bag-icon__link {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favourites-icon__image,
.shopping_bag-icon__image {
  width: 16px;
  height: 16px;
}

.is-active-icon:after {
  content: '';
  height: 3px;
  position: absolute;
  background-color: $color-primary;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-account-icon img {
  max-width: 40%;
}
