@import 'src/styles';
@import './styles/utils';

iframe {
  display: none;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-grey-background;
  transition: 0.5s;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px 44px;

  @include onTablet {
    padding: 0 24px 44px;
  }

  @include onDesktop {
    padding: 0 32px 60px;
  }
}
