@import 'src/styles';

.switcher {
  width: 30px;
  background-color: $color-primary;
  border-radius: 20px;
  padding: 1px;
  border: 1px solid $color-grey-background;

  &::after {
    content: '';
    background-color: $color-grey-background;
    display: block;
    width: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    transition: 0.5s;
  }
}

.dark::after {
  transform: translateX(100%);
}
